<html>
    <head>
       <title>Ninjas Page</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
      <h1>This Page is about Ninjas</h1>
      <h3>there are Three types of Ninjas</h3>
      <div class="one">
          <img class="ninja" src="{{ url_for('static', filename='images/ninja.png') }}">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis, turpis vel accumsan gravida, leo magna porttitor mauris, eu porttitor ante arcu nec justo. Mauris mi justo, volutpat vitae luctus in, sagittis nec nulla. Ut euismod eget quam eu lobortis. Nam ornare sollicitudin euismod. Morbi mauris nibh, consequat a turpis in,</p>
      </div>
      <div class="two">
        <img src="{{ url_for('static', filename='images/ninja.png') }}">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis, turpis vel accumsan gravida, leo magna porttitor mauris, eu porttitor ante arcu nec justo. Mauris mi justo, volutpat vitae luctus in, sagittis nec nulla. Ut euismod eget quam eu lobortis. Nam ornare sollicitudin euismod. Morbi mauris nibh, consequat a turpis in,</p>
      </div>
      <div class="three">
        <img src="{{ url_for('static', filename='images/ninja.png') }}">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis, turpis vel accumsan gravida, leo magna porttitor mauris, eu porttitor ante arcu nec justo. Mauris mi justo, volutpat vitae luctus in, sagittis nec nulla. Ut euismod eget quam eu lobortis. Nam ornare sollicitudin euismod. Morbi mauris nibh, consequat a turpis in,</p>
      </div>
    </body>
</html>