<html>
        <head>
           <title>Form Test Index</title>
        </head>
        <body>
            <h1>{{count}}</h1>
            <form action="/submit" method="POST">
                <input type="hidden" name="action" value="increment">
                <input type="submit" value="+2">
            </form>
            <form action="/submit" method="POST">
                <input type="hidden" name="action" value="reset">
                <input type="submit" value="reset">
            </form>
        </body>
    </html>