/*Jayne Doe CSS*/

.container{
    width: 979px;
    margin: 0 auto;
}
h1,h2,h3,h4,li,p,span,strong,a{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 14px;
}
img{
    width: 100%; height: auto;
}
p:first-child{
    margin-top: 0px;
}
/*Header CSS*/
.header{
    padding: 10px 20px;
    overflow: auto;
}
.header h1{
    float: left;
    margin: 0;
}
.header h3{
    float: right;
    margin: 0;
    line-height: 200%;
    font-family: 'Open Sans', sans-serif;
}
.title{
    color: #ffffff;
}
/*Content CSS*/
.content{
    padding: 20px 25px;
    background: #46333b; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle,  rgba(70, 51, 59, 0.7), rgb(70, 51, 59)); /* Safari */
    background: -o-radial-gradient(circle, rgba(70, 51, 59, 0.7), rgb(70, 51, 59)); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, rgba(70, 51, 59, 0.7), rgb(70, 51, 59)); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, rgba(70, 51, 59, 0.7), rgb(70, 51, 59)); /* Standard syntax */
}
.title{
    padding: 10px;
    margin: 0px;
    background: rgb(135, 133, 147); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(180, 179, 189), #9997A7,rgb(180, 179, 189)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgb(180, 179, 189), #9997A7,rgb(180, 179, 189)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgb(180, 179, 189), #9997A7,rgb(180, 179, 189)); /*Fx 3.6-15*/
    background: linear-gradient(rgb(180, 179, 189), #9997A7,rgb(180, 179, 189)); /*Standard*/
    background-position: 100% 50%;
}
.block{
    background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffffff , rgb(219, 204, 218)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffffff , rgb(219, 204, 218)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffffff , rgb(219, 204, 218)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffffff , rgb(219, 204, 218)); /* Standard syntax */
}
.row{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}
.block{
    float: left;
    position: relative;
}
.block.one{
    width: 43%;
    margin-right: 4%;
    background-image: url('images/photo_of_me.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.border{
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    height: 96%;
    border: 6px solid #C0C0C0;
}
.block.two{
    width: 53%;
}
.block.three{
    width: 30%;
    margin-right:5%;
    padding-bottom: 20px;
}
.block.three.last, .icons img.last{
    float: right;
    margin-right: 0%;
}
.rowOne .block{
    height: 263px;
}
.text, .icons{
    padding: 15px;
}
.rowTwo .text p{
    text-align: justify;
}
.icons{
    text-align: justify;
}
.icons img{
    width: 16%;
    margin-bottom: 10px;
    float: left;
    padding: 0px;
    margin-right: 5%;
}
.buttonSection{
    text-align: center;
}
.buttonSection a{
    text-decoration: none;
    color: #ffffff;
    cursor: hover;
}
.btn{
    display: inline-block;
    background: #407D61;
    border-radius: 10px;
    padding: 6px;
    color: #ffffff;
    border: 1px solid #006400;
    box-shadow: 5px 5px 20px grey;
}
/*Footer*/
.copyright{
    text-align: center;
    font-size: 12px;
}
.footer p.copyright {
    margin-top: 0.5em;
}
.social img{
    width: 15px;
    position: relative;
    top: 5px;
}
.social ul{
    text-align: center;
    list-style-type: none;
    margin-bottom: 3px;
}
.social li{
    display: inline;
}
.social li a{
    font-size: 12px;
    font-style: italic;
    color: black;

}
